// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    overflow-x: hidden;
 }

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 350px;
    width: 0;
    top: 0;
    height: 100%;
    margin-left: -350px;
    overflow-y: auto;
    background: #cecece;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 350px;
    }

    #sidebar-wrapper {
        width: 350px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
}

.form-control {
    width: 100%;
}

.form-group {
    margin: 1.5em;
}
td, th {
    padding: 5px;
}

.new_tweet {
    padding-bottom: 20px;
}

a {
    padding: 3px;
}

img {
    display: block;
    margin: 0 auto;
    padding-top: 1em;
}

.btn {
    font-size: small !important;
}

.nicknames {
    font-size: small;
}

.alert-info, .alert-warning {
    margin: 0 1rem 0;
}